body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  /*"em" can also be used for font size,1em is 16px,100%=16px as well,"rem" will ignore the parent settings*/
  font-size: 3.5rem; /*The percentage is dynamic, unlike "px", it will change with user browser preferences*/
  margin: 50px auto 0 auto;
  font-family: "Great Vibes", cursive;
  color: green;
  /*line-height: 2; will increase space on top and under the h1*/
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: brown;
  font-weight: normal;
  padding: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

h4 {
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: dotted none none;
  border-color: rgb(160, 158, 158);
  border-width: 6px;
  height: 0px;
  width: 6%;
}
.education {
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: 20px;
  font-family: "Montserrat";
}
.educationpic {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 110px;
  top: 20px;
}

.certifications {
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: 100px;
  font-family: "Montserrat", sans-serif;
}
.certificatepic {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 130px;
  top: 100px;
}

.projects {
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: 180px;
  font-family: "Montserrat";
}

.projectpic {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 90px;
  top: 180px;
}
.top-container {
  background-color: #c1f7f7;
  position: relative;
  padding-top: 100px;
}
.middle-container {
}
.bottom-container {
  background-color: #66bfbf;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  border: 0cap;
}

/*-------------PICTURES------------*/
.bottom_cloud {
  position: absolute;
  top: 200px;
  left: 200px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.birds {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 200px;
  top: 200px;
}
.robot1 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 0px;
  left: 150px;
}
.robot2 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 0px;
  right: 150px;
}
.profilepic {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.computerpic {
  width: 25%;
  float: left; /*will float the image to the left and make the text wrap around the image on the same line*/
  margin-right: 30px;
}
.engineerpic {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto; /*centers the entire skill-row elements while keeping the 100px margin on top and bottom*/
  text-align: left;
  line-height: 2;
}
.btn {
  background-color: #66bfbf;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
.footer-link {
  color: #11999e;
  font-size: 0.75rem;
  padding: 15px;
  text-decoration: none;
}
/*in case I dont want my code to wrap around the image and the specific text
has been given a class name in the html file
.skilldescription {
  clear: left;
} */
.myname {
  margin-bottom: 0;
  padding-bottom: 10px;
  color: white;
}
p {
  margin-bottom: 40px;
}
